
.botones{
   background-color: #945D31;
   border: black 5px solid;
   padding-top: 3px;
   padding-bottom: 26px;
}
button{
   height: 50px;
   width: 200px;
}
.imagen{
   background-image: url('https://whackahack.com/foro/img/28508/543/4325.png');
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: contain;
   background-color: black;

}

.container {
   width: 200px;
   height: 300px;
   display: flex;
   justify-content: start;
   align-items: center;
}

.container img {
   width: 200px;
}

.container2 {
   width: auto;
   height: auto;
   display: flex;
   justify-content: end;
   align-items: end;
   
}

.container2 img {
   width: auto;
   height: auto;
   
}
.imagepoke{
   width: 110px;
   height: 85px;
}
.imagepoke2{
   width: 110px;
   height: 85px;
  
}


.imagepokeGray{
  -webkit-filter: grayscale();
  filter: grayscale();
}
.imagepokeGray2{
   -webkit-filter: grayscale();
  filter: grayscale();
}
.imagepoke3{
   width: 110px;
   height: 85px;
}
.buttonLeftPokeball{
   width: 260px;
   height: 5px;
   
   
}
.buttonRightPokeBall{
   width: 250px;
   height: 80px;
   margin-left: 1786px;

}
.textoAtaque{
   color: white;
   background-color: #945D31;
   justify-content: center;
   text-align: center;
  display:block ;
  place-items: center;
  font-family: monospace;
  white-space: nowrap;
  width: 96ch; 
  animation: escribiendo 2.5s steps(100);
  max-width: 90ch;
  overflow: hidden;
 
}

@keyframes escribiendo{
   from{
      width: 0;
  }
}